language: java

jdk:
  - oraclejdk8

install: mvn compile -Dmaven.javadoc.skip=true

script: mvn test -Dtest=UnitTestSuite && mvn cobertura:cobertura

after_success:
  - bash <(curl -s https://codecov.io/bash)
