[access]
	inheritFrom = All-Projects
[project]
	description = HugeGraph Database core component, including graph engine, API, and built-in backends
[access "refs/*"]
	owner = group user/Jermy Li (javeme)
[access "refs/for/refs/*"]
	read = group user/Jermy Li (javeme)
	push = group user/Jermy Li (javeme)
	label-Code-Review = -2..+2 group user/Jermy Li (javeme)
	label-Verified = -1..+1 group user/Jermy Li (javeme)
	rebase = group user/Jermy Li (javeme)
	removeReviewer = group user/Jermy Li (javeme)
	submit = group user/Jermy Li (javeme)
[access "refs/heads/*"]
	read = group user/Jermy Li (javeme)
	create = group user/Jermy Li (javeme)
	push = +force group user/Jermy Li (javeme)
	pushMerge = group user/Jermy Li (javeme)
[access "refs/tags/*"]
	push = group user/Jermy Li (javeme)
	push = +force group user/Jermy Li (javeme)
