<?xml version="1.0" encoding="UTF-8"?>

<!-- Config will be auto loaded every 60s -->
<configuration status="error" monitorInterval="60">
    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%-d{yyyy-MM-dd HH:mm:ss} %-5r [%t] [%-5p] %c %x - %m%n"/>
        </Console>

        <!-- Normal server log config -->
        <RollingRandomAccessFile name="file" fileName="logs/hugegraph-server.log"
            filePattern="logs/$${date:yyyy-MM}/hugegraph-server-%d{yyyy-MM-dd}-%i.log"
            immediateFlush="false">
            <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%-d{yyyy-MM-dd HH:mm:ss} %-5r [%t] [%-5p] %c %x - %m%n"/>
            <DefaultRolloverStrategy max="10"/>

            <Policies>
                <SizeBasedTriggeringPolicy size="50MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingRandomAccessFile>

        <!-- Separate & compress audit log, buffer size is 512KB -->
        <RollingRandomAccessFile name="audit" fileName="logs/audit-hugegraph-server.log"
            filePattern="logs/$${date:yyyy-MM}/audit-hugegraph-server-%d{yyyy-MM-dd}-%i.gz"
            bufferSize="524288" immediateFlush="false">
            <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            <!-- Use simple format for audit log to speed up -->
            <PatternLayout pattern="%-d{yyyy-MM-dd HH:mm:ss} - %m%n"/>
            <DefaultRolloverStrategy max="5"/>

            <Policies>
                <SizeBasedTriggeringPolicy size="500MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingRandomAccessFile>
    </appenders>

    <loggers>
        <root level="INFO">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
        </root>
        <logger name="org.apache.cassandra" level="INFO" additivity="false">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
        </logger>
        <logger name="org.apache.hadoop" level="INFO" additivity="false">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
        </logger>
        <logger name="org.apache.zookeeper" level="WARN" additivity="false">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
        </logger>
        <logger name="com.datastax.driver" level="WARN" additivity="false">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
        </logger>
        <logger name="com.alipay.sofa" level="WARN" additivity="false">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
        </logger>
        <logger name="io.netty" level="INFO" additivity="false">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
        </logger>
        <logger name="org.apache.commons" level="INFO" additivity="false">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
        </logger>
        <!-- Use mixed async way to output logs -->
        <AsyncLogger name="com.baidu.hugegraph" level="INFO" additivity="false">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
        </AsyncLogger>
        <AsyncLogger name="com.baidu.hugegraph.auth" level="INFO" additivity="false">
            <appender-ref ref="console"/>
            <appender-ref ref="audit"/>
        </AsyncLogger>
    </loggers>
</configuration>
