name: hugegraph-commons ci

on:
  push:
    branches:
      - master
      - /^release-.*$/
      - /^test-.*$/
  pull_request:
    branches:
      - master
      - /^release-.*$/
      - /^test-.*$/

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        JAVA_VERSION: ['8', '11']

    steps:
      - name: Install JDK ${{ matrix.JAVA_VERSION }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.JAVA_VERSION }}
          distribution: 'zulu'

      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Compile
        run: |
          mvn compile -Dmaven.javadoc.skip=true | grep -v "Downloading\|Downloaded"

      - name: Run test
        run: |
          mvn test -Dtest=UnitTestSuite

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: target/jacoco.xml
