name: hugegraph ci

on:
  push:
    branches:
      - master
      - /^release-.*$/
      - /^test-.*$/
  pull_request:
    branches:
      - master
      - /^release-.*$/
      - /^test-.*$/

jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      TRAVIS_DIR: hugegraph-dist/src/assembly/travis
    strategy:
      fail-fast: false
      matrix:
        BACKEND: [memory, cassandra, scylladb, hbase, rocksdb]
        JAVA_VERSION: ['8']
    steps:
      - name: Install JDK ${{ matrix.JAVA_VERSION }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.JAVA_VERSION }}
          distribution: 'zulu'

      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Compile
        run: |
          mvn compile -Dmaven.javadoc.skip=true | grep -v "Downloading\|Downloaded"

      - name: Prepare env and service
        run: |
          $TRAVIS_DIR/install-backend.sh ${{ matrix.BACKEND }}

      - name: Run test
        run: |
          mvn test -P core-test,${{ matrix.BACKEND }}
          $TRAVIS_DIR/run-api-test.sh ${{ matrix.BACKEND }}
          $TRAVIS_DIR/run-unit-test.sh ${{ matrix.BACKEND }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: target/site/jacoco/jacoco.xml
