name: release package

on:
  release:
    types: [ published ]

jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      TAG_NAME: ${{ github.ref_name }}
    steps:
      - name: Install JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'zulu'

      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Package
        run: |
          mvn clean package -DskipTests

      - name: Rename file
        if: contains(env.TAG_NAME, "-")
        run: mv "$(find hugegraph-*.tar.gz | head -1)" hugegraph-${TAG_NAME/#v/}.tar.gz

      - uses: xresloader/upload-to-github-release@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          file: "hugegraph-*.tar.gz"
          tag_name: ${{ github.ref_name }}
          overwrite: true
          verbose: true
          draft: false
          update_latest_release: true

      - name: Release Maven package
        uses: samuelmeuli/action-maven-publish@v1
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg_passphrase: ${{ secrets.GPG_PASSPHRASE }}
          nexus_username: ${{ secrets.NEXUS_USERNAME }}
          nexus_password: ${{ secrets.NEXUS_PASSWORD }}
          server_id: sonatype-nexus-staging
          maven_profiles: "release"
          maven_args: >
            -Dmaven.test.skip=true
